@model AppData.Models.SanPhamChiTiet

@{
    ViewData["Title"] = "suaSanPhamCT";
    Layout = "~/Areas/Admin/Views/Shared/layout_Admin.cshtml";
}
<div>
    @Html.ActionLink("Quay Lại <3", "hienthiSanPhamCT")
</div>

<div class="box box-primary" style="color:white">
    <form method="post" action="" enctype="multipart/form-data">
        @using (Html.BeginForm())
        {
            <!-- /.box-header -->
            <div class="box-body" style="width: 80%; padding-left: 10%">
                <div class="nav-tabs-custom">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" style="display:none">
                            <label asp-for="IdSanPhamChiTiet" class="control-label">Tên Danh Mục</label>
                            @Html.TextBoxFor(m => m.IdSanPhamChiTiet, new { @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.IdSanPhamChiTiet, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label asp-for="TenSanPham" class="control-label">Tên Sản Phẩm</label>
                            @Html.TextBoxFor(m => m.TenSanPham, new { @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.TenSanPham, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="IdDanhMucSanPham" class="control-label col-3">Danh Mục Sản Phẩm</label>
                            <div class="col-9" style="padding-left:10px">
                                @Html.DropDownList("IdDanhMucSanPham", ViewBag.DanhMuc  as IEnumerable<SelectListItem>, "", null)
                                @Html.ValidationMessageFor(model => model.IdDanhMucSanPham, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="IdMau" class="control-label col-3">Màu</label>
                            <div class="col-9" style="padding-left:10px">
                                @Html.DropDownList("IdMau", ViewBag.BangMau  as IEnumerable<SelectListItem>, "", null)
                                @Html.ValidationMessageFor(model => model.IdMau, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="IdSize" class="control-label col-3">Size</label>
                            <div class="col-9" style="padding-left:10px">
                                @Html.DropDownList("IdSize", ViewBag.BangSize  as IEnumerable<SelectListItem>, "", null)
                                @Html.ValidationMessageFor(model => model.IdSize, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*   <div class="form-group">
                    <label asp-for="IdSize" class="control-label">Size</label>
                    @Html.TextBoxFor(m => m.IdSize, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.IdSize, "", new { @class = "text-danger" })
                    </div> *@
                        <div class="form-group">
                            <label asp-for="SoLuong" class="control-label">Số Lượng</label>
                            @Html.TextBoxFor(m => m.SoLuong, new { @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.SoLuong, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label asp-for="Anh" class="control-label">Ảnh</label>
                            @Html.TextBoxFor(m => m.Anh, new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.Anh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label asp-for="GiaSp" class="control-label">Giá</label>
                            @Html.TextBoxFor(m => m.GiaSp, new { @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.GiaSp, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label asp-for="TrangThai" class="control-label">Trạng Thái</label>
                            @Html.TextBoxFor(m => m.TrangThai, new { @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.TrangThai, "", new { @class = "text-danger" })
                        </div>

                      @*   <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div> *@
                        <div class="box-header with-border" style="padding-top: 10px">
                            <div class="box-tools pull-right">
                                <button class="btn btn-info btn-sm" type="submit"><i class="fa fa-check"></i> Lưu </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </form>
</div> 